@font-face {
    font-family: aventura;
    src: url(fonts/Adventure.otf);
}

@font-face {
    font-family: numeros;
    src: url(fonts/ArchitectsDaughter-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

body, html {
    width: 100%;
    height: 100%; 
    overflow: hidden;   
}

#fondo {
    width: 100%;
    height: 100%;    
    z-index: -1;
    display: none;
}

#titulo {
    font-family: aventura;
    color: rgb(97, 201, 236);
    font-size: 15rem;   
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black, 4px 4px 8px black; 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#contenedor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#numeros {
    width: 100px;    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; 
    overflow: hidden;   
}

.numero {
    width: 70px;
    height: 70px;
    border: 4px solid black;
    border-radius: 35px;
    font-family: numeros;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 65px;
    background-color: white;
    margin: 10px;
}

.numero:hover {
    background-color: rgb(247, 95, 95);
    cursor: pointer;
}

#tablero {
    width: 700px;        
    height: 700px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."; 
}

.casilla {
    width: auto;
    height: auto;
    grid-area: auto;
    justify-self: normal;
    align-self: stretch;
    border: 2px solid black;    
    font-family: numeros;
    text-align: center;
    font-size: 40px;    
    font-weight: bold;    
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.casilla:hover {
    background-color: rgb(97, 201, 236);
}

.arriba {
    border-top: 4px solid black;
}

.abajo {
    border-bottom: 4px solid black;
}

.izquierda {
    border-left: 4px solid black;
}

.derecha {
    border-right: 4px solid black;
}

#botonera {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#resolver,#borrar {
    padding: 10px 20px;
    margin: 30px;
    font-size: 40px;
    font-family: numeros;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    font-weight: bold;
}

#resolver:hover,#borrar:hover {
    background-color: lightgray;
    cursor: pointer;
}

#icono {
    width: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    opacity: 0.7;
}

#instrucciones {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    background-color: rgb(97, 201, 236);
    border: 4px solid black;
    border-radius: 5px;
    z-index: 1;
}

#instrucciones p {
    font-family: numeros;
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

/* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  #modal-content {
    position: relative;    
    background-color: rgb(97, 201, 236);
    margin: 15% auto; /* 15% from the top and centered */    
    border: 4px solid black;
    border-radius: 5px;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  #modal-content p {
    font-family: numeros;
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 50px;    
  }
  
  /* The Close Button */
  #close {
    color: black;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 50px;
    font-weight: 600;
  }
  
  #close:hover,
  #close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/* On screens that are 992px wide or less */
@media screen and (max-width: 992px) {
    html,body {
        width: 100%;
        height: 100%; 
        overflow: scroll;
    }

    #fondo {
        width: auto;
        height: auto;
        position: fixed;
        top: -600px;
        left: -800px;
    }

    #titulo {        
        font-size: 10rem;         
    }

    #contenedor {
        width: 100%;
        height: auto;        
        flex-direction: column;
        justify-content: space-around;        
    }

    #numeros {
        width: 60%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 50px 0;        
    }

    #tablero {
        width: 90vw;
        height: 90vw;
    }

    #botonera {        
        flex-direction: row;        
    }

    #instrucciones {
        width: 90%;
        padding: 25px;
    }

    #instrucciones p {        
        font-size: x-large;        
        letter-spacing: 1px;        
    }

    #modal-content p {
        font-size: x-large;        
        letter-spacing: 1px;
        margin-top: 70px;        
    }
    
}
  
/* On screens that are 600px wide or less */
@media screen and (max-width: 600px) {
    #titulo {        
        font-size: 6rem;         
    }

    #numeros {
        width: 80%;
        margin: 60px 0 20px 0;             
    }

    .numero {
        width: 60px;
        height: 60px;
        border: 3px solid black;
        border-radius: 30px;        
        font-size: 30px;
        font-weight: bold;
        line-height: 55px;        
        margin: 10px;
    }

    #tablero {
        width: 100vw;
        height: 100vw;
    }

    .casilla {
        font-size: 20px; 
        border: 1px solid black;         
    }

    .arriba {
        border-top: 2px solid black;
    }
    
    .abajo {
        border-bottom: 2px solid black;
    }
    
    .izquierda {
        border-left: 2px solid black;
    }
    
    .derecha {
        border-right: 2px solid black;
    }

    #botonera {        
        flex-direction: row;                
    }

    #resolver,#borrar {
        padding: 8px 16px;
        margin: 15px;
        font-size: 30px;        
    }

    #instrucciones p {        
        font-size: large;        
          
    }

    #modal-content p {
        font-size: large;       
          
    }
    
}